<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.alvinsite.demo.dao.salary.JobSubsidyDao">
    <select id="findAll" resultType="JobSubsidy" parameterType="SalaryQuery">
        select
        job_subsidy.id,
        job_subsidy.year,
        gxjg0101.xm as nickname,
        job_subsidy.account,
        job_subsidy.job,
        job_subsidy.evaluation_result,
        job_subsidy.subsidy_factor,
        job_subsidy.length,
        job_subsidy.subsidy,
        job_subsidy.remarks
        from job_subsidy
        join gxjg0101 on gxjg0101.gh = job_subsidy.account
        join department on department.id = gxjg0101.dwh
        <where>
            <if test="nickname != null">and gxjg0101.xm like concat('%', #{nickname}, '%')</if>
            <if test="account != null">and gxjg0101.gh like concat('%', #{account}, '%')</if>
            <if test="department != null">and department.title like concat('%', #{department}, '%')</if>
            <if test="departmentId != null">and gxjg0101.dwh = #{departmentId}</if>
            <if test="departmentScope != null">
                and gxjg0101.dwh in
                <foreach collection="departmentScope" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>