<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.alvinsite.demo.dao.salary.LevelFactorDao">
    <select id="findAll" resultType="LevelFactor" parameterType="PerformanceQuery">
        select
            id,
            year,
            department,
            type,
            level,
            factor
        from level_factor
        WHERE department = #{departmentId} and year = #{year}
    </select>

    <select id="findOne"  resultType="LevelFactor">
        select
            id,
            type,
            level,
            factor
        from level_factor
        where id = #{id}
    </select>

    <select id="findOneByTypeAndLevel"  resultType="LevelFactor" parameterType="LevelFactorParam">
        select
            id,
            type,
            level,
            factor
        from level_factor
        where type = #{type} and level = #{level} and department = #{department} and year = #{year}
        limit 1
    </select>

    <insert id="save">
        INSERT INTO level_factor (id, department, type, level, factor) values
            (#{id}, #{department}, #{type}, #{level}, #{factor})
        ON DUPLICATE KEY UPDATE department=values(department), type=values(type), level=values(level),factor=values(factor)
    </insert>
</mapper>