<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.alvinsite.demo.dao.salary.SalarySummaryDao">
    <select id="findAll" resultType="SalarySummary" parameterType="PerformanceQuery">
        select
        gxjg0101.gh as id,
        #{year} as year,
        gxjg0101.xm as nickname,
        gxjg0101.gh as account,
        IF(special_subsidy.special_subsidy is null, 0, special_subsidy.special_subsidy) as special_subsidy
        from gxjg0101
        join department on department.id = gxjg0101.dwh
        left join special_subsidy on gxjg0101.gh = special_subsidy.account
        <where>
            gxjg0101.type != 3
            <if test="nickname != null">and gxjg0101.xm like concat('%', #{nickname}, '%')</if>
            <if test="account != null">and gxjg0101.gh like concat('%', #{account}, '%')</if>
            <if test="department != null">and department.title like concat('%', #{department}, '%')</if>
            <if test="departmentId != null">and gxjg0101.dwh = #{departmentId}</if>
            <if test="departmentScope != null">
                and gxjg0101.dwh in
                <foreach collection="departmentScope" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>