<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.alvinsite.demo.dao.salary.WorkloadTargetDao">
    <select id="findAll" resultType="WorkloadTarget" parameterType="PerformanceQuery">
        select
            id as id,
            year,
            department,
            type as type,
            level as level,
            teaching_workload_target AS teachingWorkloadTarget,
            experimental_teaching_workload_target AS experimentalTeachingWorkloadTarget,
            research_workload_target AS researchWorkloadTarget
        from workload_target
        <where>
            department = #{departmentId} and year = #{year}
            <if test="departmentScope != null">
                and department in
                <foreach collection="departmentScope" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findOne"  resultType="WorkloadTarget">
        select
            id,
            type,
            level,
            teaching_workload_target AS teachingWorkloadTarget,
            research_workload_target AS researchWorkloadTarget
        from workload_target
        where id = #{id}
    </select>

    <select id="findOneByLevelAndPostType"  resultType="WorkloadTarget">
        select
            id,
            department,
            type,
            level,
            teaching_workload_target AS teachingWorkloadTarget,
            research_workload_target AS researchWorkloadTarget
        from workload_target
        where level = #{level} and type = #{type} and department = #{department}
    </select>

    <insert id="save">
        INSERT INTO workload_target (id, department, type, level, teaching_workload_target, research_workload_target) values
            (#{id}, #{department}, #{type}, #{level}, #{teachingWorkloadTarget}, #{researchWorkloadTarget})
        ON DUPLICATE KEY UPDATE department=values(department), type=values(type), level=values(level),teaching_workload_target=values(teaching_workload_target),research_workload_target=values(research_workload_target)
    </insert>
</mapper>