<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.alvinsite.demo.dao.rule.CopyrightRuleDao">

    <select id="findAll"  resultType="CopyrightRule">
        select
            *
        from copyright_rule rule
        <where>
            <if test="department != null">department = #{department}</if>
            <if test="year != null">and year = #{year}</if>
        </where>
    </select>

    <insert id="saveBatch">
        INSERT INTO copyright_rule (id, department, year, type, score) values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.department}, #{item.year}, #{item.type}, #{item.score})
        </foreach>
        ON DUPLICATE KEY UPDATE department=values(department), year=values(year), type=values(type)
        , score=values(score)
    </insert>

</mapper>