<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.alvinsite.demo.dao.rule.PaperRuleDao">

    <select id="findAll"  resultType="top.alvinsite.demo.model.dto.rule.PaperRuleDTO">
        select
            *
        from paper_rule
        <where>
            <if test="department != null">department = #{department}</if>
            <if test="year != null">and year = #{year}</if>
        </where>
    </select>


    <insert id="saveBatch">
        INSERT INTO paper_rule (id, department, year, type, score1, score2, score3, score4, score5, score6, score7, score8) values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.department}, #{item.year}, #{item.type}, #{item.score1}, #{item.score2}, #{item.score3},
            #{item.score4}, #{item.score5}, #{item.score6}, #{item.score7}, #{item.score8})
        </foreach>
        ON DUPLICATE KEY UPDATE department=values(department), year=values(year), type=values(type), score1=values(score1)
        , score2=values(score2), score3=values(score3), score4=values(score4), score5=values(score5), score6=values(score6)
        , score7=values(score7), score8=values(score8)
    </insert>

</mapper>