<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.alvinsite.demo.dao.rule.PaperRuleDao">

    <select id="findAll"  parameterType="RuleQuery" resultType="PaperRule">
        select
            paper_rule.id,
            paper_rule.department,
            paper_rule.year,
            DM_PAPER_TYPE.ID AS type,
            paper_rule.score
        from paper_rule
        left join DM_PAPER_TYPE on gxky0316.lwfl = DM_PAPER_TYPE.id
        <where>
            <if test="department != null">department = #{department}</if>
            <if test="year != null">and year = #{year}</if>
        </where>
    </select>

</mapper>