<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.alvinsite.demo.dao.performance.AwardedDao">
    <resultMap id="findCopyrightResult" type="Awarded">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="nickname" column="nickname" />
        <result property="score" column="score" />
        <result property="level" column="level" />
        <result property="grade" column="grade" />

        <association property="department" javaType="Department" >
            <id property="id" column="departmentId" />
            <result property="title" column="department" />
        </association>

        <collection property="awardee" ofType="top.alvinsite.demo.model.dto.auth.ManagerUserDTO" column="hjbh"  select="findAuthorsById">
            <id property="account" column="account"/>
            <result property="nickname" column="nickname"/>
        </collection>
    </resultMap>
    <select id="findAwarded" parameterType="top.alvinsite.demo.model.params.PerformanceQuery" resultMap="findCopyrightResult">
        select
            gxky0310.id as id,
            gxky0310.hjbh,
            gxjg0101.gh as account,
            gxjg0101.xm as nickname,
            department.id as departmentId,
            department.title as department,
            gxky0309.hjmc as title,
            gxky0309.hjjb as level,
            gxky0309.hjdj as grade,
            #{year} as ApprovalProjectYear,
            date_format(gxky0309.hjrq,'%Y-%m-%d') as acquisitionTime,
            gxky0309.hjrs as memberNum,
            gxky0310.smsx as SignedOrder

        from gxky0310
        join gxky0309 on gxky0309.id = gxky0310.hjbh
        join gxjg0101 on gxjg0101.gh = gxky0310.wcrzgh
        join department on department.id = gxjg0101.dwh
        <where>
            gxky0309.shzt = 2
            <if test="nickname != null">and gxjg0101.xm like concat('%', #{nickname}, '%')</if>
            <if test="account != null">and gxjg0101.gh like concat('%', #{account}, '%')</if>
            <if test="accountScope != null">and gxjg0101.gh = #{accountScope}</if>
            <if test="department != null">and department.title like concat('%', #{department}, '%')</if>
            <if test="departmentId != null">and gxjg0101.dwh = #{departmentId}</if>
            <if test="startedTime != null">and #{startedTime} &lt;= gxky0309.hjrq</if>
            <if test="finishedTime != null">and gxky0309.hjrq &lt;= #{finishedTime}</if>
            <if test="departmentScope != null">
                and gxjg0101.dwh in
                <foreach collection="departmentScope" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findAuthorsById"  parameterType="java.lang.String" resultType="ManagerUserDTO">
        SELECT
            gxjg0101.xm as nickname,
            gxjg0101.gh as account,
            gxjg0101.dwh as department
        FROM gxky0310
        join gxjg0101 on gxjg0101.gh = gxky0310.wcrzgh
        where gxky0310.hjbh = #{id}
        order by gxky0310.smsx
    </select>

</mapper>