<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.alvinsite.demo.dao.performance.PaperDao">
    <resultMap id="findPaperResult" type="Paper">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="nickname" column="nickname" />
        <result property="periodical" column="fbqk" />
        <result property="score" column="score" />

        <association property="department" javaType="Department" >
            <id property="id" column="departmentId" />
            <result property="title" column="department" />
        </association>
        <collection property="publicationType" ofType="PaperType" column="lwbh" select="findPublicationTypeById">
            <id property="id" column="id" />
            <result property="title" column="title" />
        </collection>
        <collection property="authors" ofType="top.alvinsite.demo.model.dto.auth.ManagerUserDTO" column="lwbh"  select="findAuthorsById">
            <id property="account" column="account"/>
            <result property="nickname" column="nickname"/>
        </collection>
    </resultMap>

    <select id="findPaper" parameterType="top.alvinsite.demo.model.params.PerformanceQuery" resultMap="findPaperResult">
        select
            gxky0312.id as id,
            gxjg0101.gh as account,
            gxky0312.zzmc as nickname,
            department.id as departmentId,
            department.title as department,
            gxky0312.lwbh as lwbh,
            gxky0316.lwmc as title,
            gxky0316.fbqk,
            #{year} as ApprovalProjectYear,
            date_format(gxky0316.fbrq,'%Y-%m-%d') as publishTime,
            gxky0316.zzrs as memberNum,
            gxky0312.smsx as SignedOrder
        from gxky0312
        join gxky0316 on gxky0312.lwbh = gxky0316.id
        join gxjg0101 on gxjg0101.gh = gxky0312.zzzgh
        join department on department.id = gxjg0101.dwh
        <where>
            gxky0316.shzt = 2
            <if test="department != null">and department.title like concat('%', #{department}, '%')</if>
            <if test="departmentId != null">and gxjg0101.dwh = #{departmentId}</if>
            <if test="nickname != null">and gxjg0101.xm like concat('%', #{nickname}, '%')</if>
            <if test="account != null">and gxjg0101.gh like concat('%', #{account}, '%')</if>
            <if test="accountScope != null">and gxjg0101.gh = #{accountScope}</if>
            <if test="startedTime != null">and #{startedTime} &lt;= gxky0316.fbrq</if>
            <if test="finishedTime != null">and gxky0316.fbrq &lt;= #{finishedTime}</if>
            <if test="departmentScope != null">
                and gxjg0101.dwh in
                <foreach collection="departmentScope" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by gxky0312.id
    </select>

    <select id="findAuthorsById"  parameterType="java.lang.String" resultType="ManagerUserDTO">
        SELECT
            gxjg0101.xm as nickname,
            gxjg0101.gh as account
        FROM gxky0312
        join gxjg0101 on gxjg0101.gh = gxky0312.zzzgh
        where gxky0312.lwbh = #{id}
        order by gxky0312.smsx
    </select>

    <select id="findPublicationTypeById" parameterType="java.lang.String" resultType="PaperType">
        SELECT
            DM_PAPER_TYPE.ID as id,
            DM_PAPER_TYPE.NAME as title
        FROM gxky0313
        JOIN DM_PAPER_TYPE ON DM_PAPER_TYPE.ID = gxky0313.flbh
        WHERE gxky0313.lwbh = #{id}
    </select>



</mapper>