<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.alvinsite.demo.dao.performance.PatentDao">
    <resultMap id="findPatentResult" type="Patent">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="title" column="title"/>
        <result property="score" column="score" />
        <result property="type" column="type" />
        <result property="scope" column="scope" />

        <association property="department" javaType="Department" >
            <id property="id" column="departmentId" />
            <result property="title" column="department" />
        </association>

        <collection property="inventors" ofType="top.alvinsite.demo.model.dto.auth.ManagerUserDTO" column="zlbh"  select="findAuthorsById">
            <id property="account" column="account"/>
            <result property="nickname" column="nickname"/>
        </collection>
    </resultMap>

    <select id="findPatent" parameterType="top.alvinsite.demo.model.params.PerformanceQuery" resultMap="findPatentResult">
        select
            gxky0314.id as id,
            gxjg0101.gh as account,
            gxjg0101.xm as nickname,
            department.id as departmentId,
            department.title as department,
            gxky0302.zlmc as title,
            gxky0314.zlbh,
            gxky0302.zllx as type,
            gxky0302.zlfw as scope,
            #{year} as ApprovalProjectYear,
            date_format(gxky0302.gkrq,'%Y-%m-%d') as publishTime,
            gxky0302.fmsjrgs as memberNum,
            gxky0314.smsx as SignedOrder
        from gxky0314
        join gxky0302 on gxky0302.id = gxky0314.zlbh
        join gxjg0101 on gxjg0101.gh = gxky0314.fmrzgh
        join department on department.id = gxjg0101.dwh
        <where>
            gxky0302.shzt = 2
            <if test="nickname != null">and gxjg0101.xm like concat('%', #{nickname}, '%')</if>
            <if test="account != null">and gxjg0101.gh like concat('%', #{account}, '%')</if>
            <if test="accountScope != null">and gxjg0101.gh = #{accountScope}</if>
            <if test="department != null">and department.title like concat('%', #{department}, '%')</if>
            <if test="departmentId != null">and gxjg0101.dwh = #{departmentId}</if>
            <if test="startedTime != null">and #{startedTime} &lt;= gxky0302.sqrq_1</if>
            <if test="finishedTime != null">and gxky0302.sqrq_1 &lt;= #{finishedTime}</if>
            <if test="departmentScope != null">
                and gxjg0101.dwh in
                <foreach collection="departmentScope" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findAuthorsById"  parameterType="java.lang.String" resultType="ManagerUserDTO">
        SELECT
            gxky0314.fmrxm as nickname,
            gxjg0101.gh as account,
            gxjg0101.dwh as department
        FROM gxky0314
        left join gxjg0101 on gxjg0101.gh = gxky0314.fmrzgh
        where gxky0314.zlbh = #{id} and gxky0314.fmrlx &lt;&gt; 2
        order by gxky0314.smsx
    </select>

</mapper>