<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.alvinsite.demo.dao.performance.PatentDao">
    <resultMap id="findPatentResult" type="Patent">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="department" column="department"/>
        <result property="title" column="title"/>
        <result property="score" column="score" />
        <result property="type" column="type" />
        <result property="scope" column="scope" />
        <collection property="inventors" ofType="top.alvinsite.demo.model.dto.auth.ManagerUserDTO" column="zlbh"  select="findAuthorsById">
            <id property="account" column="account"/>
            <result property="nickname" column="nickname"/>
        </collection>
    </resultMap>

    <select id="findPatent" parameterType="top.alvinsite.demo.model.params.PerformanceQuery" resultMap="findPatentResult">
        select
            gxky0314.id as id,
            gxjg0101.xm as nickname,
            department.title as department,
            gxky0302.zlmc as title,
            gxky0314.zlbh,
            dm_patent_type.NAME as type,
            dm_patent_scope.NAME as scope,
        (
        case gxky0314.smsx
        when 1 then rule.score1
        when 2 then rule.score2
        when 3 then rule.score3
        when 4 then rule.score4
        when 5 then rule.score5
        when 6 then rule.score6
        when 7 then rule.score7
        when 8 then rule.score8
        end
        ) as score
        from gxky0314
        join gxky0302 on gxky0302.id = gxky0314.zlbh
        join gxjg0101 on gxjg0101.gh = gxky0314.fmrzgh
        join department on department.id = gxjg0101.dwh
        left join dm_patent_type on dm_patent_type.ID = gxky0302.zllx
        left join dm_patent_scope on dm_patent_scope.ID = gxky0302.zlfw
        left join patent_rule rule on rule.department = gxjg0101.dwh and rule.year = #{year} and rule.type = gxky0302.zllx and rule.scope = gxky0302.zlfw
        <where>
            gxky0302.shzt = 2
            <if test="nickname != null">and gxjg0101.xm like concat('%', #{nickname}, '%')</if>
            <if test="account != null">and gxjg0101.gh like concat('%', #{account}, '%')</if>
            <if test="department != null">and department.title like concat('%', #{department}, '%')</if>
            <if test="departmentId != null">and gxjg0101.dwh = #{departmentId}</if>
            <if test="year != null">and year(gxky0302.gkrq) = #{year}</if>
        </where>
    </select>

    <select id="findAuthorsById"  parameterType="String" resultType="ManagerUserDTO">
        SELECT
            gxjg0101.xm as nickname,
            gxjg0101.gh as account
        FROM gxky0314
        join gxjg0101 on gxjg0101.gh = gxky0314.fmrzgh
        where gxky0314.zlbh = #{id}
        order by gxky0314.smsx
    </select>

    <select id="calcPatentTotalPoints" resultType="java.lang.Float" >
        select
            sum((
                case gxky0314.smsx
                when 1 then rule.score1
                when 2 then rule.score2
                when 3 then rule.score3
                when 4 then rule.score4
                when 5 then rule.score5
                when 6 then rule.score6
                when 7 then rule.score7
                when 8 then rule.score8
                end
            ))
        from gxky0314
        join gxky0302 on gxky0302.id = gxky0314.zlbh
        join gxjg0101 on gxjg0101.gh = gxky0314.fmrzgh
        left join patent_rule rule on rule.department = gxjg0101.dwh and rule.year = #{year} and rule.type = gxky0302.zllx and rule.scope = gxky0302.zlfw
        <where>
            gxky0302.shzt = 2
            and gxjg0101.gh = #{account}
            and year(gxky0302.gkrq) = #{year}
        </where>
    </select>
</mapper>