<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.alvinsite.demo.dao.ResearcherDao">
    <select id="findOne" resultType="top.alvinsite.demo.model.entity.Researcher">
        select
        gxky0201.id as id,
        gxky0201.xm as nickname,
        gxky0201.dlxtzh as account,
        gxky0201.ssjgbh as departmentCode,
        s_unit.NAME as departmentTitle
        from gxky0201
        left join s_unit on s_unit.id = gxky0201.ssjgbh
        <where>
            ryscbz = 0
            <if test="account != null">and gxky0201.dlxtzh = #{account}</if>
        </where>
        limit 1
    </select>

    <select id="findAll" resultType="ResearcherPerformance">
        select
        gxjg0101.gh as id,
        gxjg0101.xm as nickname,
        gxjg0101.gh as account,
        #{year} as year,
        department.title as department
        from gxjg0101
        left join department on department.id = gxjg0101.dwh
        <where>
            dqztm = 1 and type != 3 and dwh is not null
            <if test="nickname != null">and gxjg0101.xm like concat('%', #{nickname}, '%')</if>
            <if test="account != null">and gxjg0101.gh like concat('%', #{account}, '%')</if>
            <if test="department != null">and department.title like concat('%', #{department}, '%')</if>
            <if test="departmentId != null">and gxjg0101.dwh = #{departmentId}</if>
        </where>
        order by gxjg0101.dwh asc
    </select>
</mapper>