<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.alvinsite.demo.dao.type.PatentScopeDao">
    <select id="findAll" resultType="top.alvinsite.demo.model.dto.type.PatentScopeDTO">
        select
            ID as id,
            NAME as title
        from dm_patent_scope
        order by ID ASC
    </select>

    <select id="findOne"  resultType="top.alvinsite.demo.model.dto.type.PatentScopeDTO">
        select
            ID as id,
            NAME as title
        from dm_patent_scope
        where ID = #{id}
    </select>
</mapper>