<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.alvinsite.demo.dao.type.ProjectTypeDao">
    <select id="findAll" resultType="top.alvinsite.demo.model.entity.type.ProjectType">
        select distinct
            bzm as id,
            flmc as title
        from gxky0117
        join gxky0101 on gxky0101.xmflbh = gxky0117.bzm and gxky0101.xmxzbh = 0 and gxky0101.shztbh = 2
        <where>
            <if test="year != null">and year(gxky0101.lxsj) = #{year}</if>
        </where>
        order by ID ASC
    </select>

    <select id="findOne"  resultType="top.alvinsite.demo.model.entity.type.ProjectType">
        select
            bzm as id,
            flmc as title
        from gxky0117
        where ID = #{id}
    </select>
</mapper>